BookARoom/BookARooom/Connected Services/ServiceReferenceFile/WebServiceUppgift2.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetFile">
        <s:complexType />
      </s:element>
      <s:element name="GetFileResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetFileResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetFileSoapIn">
    <wsdl:part name="parameters" element="tns:GetFile" />
  </wsdl:message>
  <wsdl:message name="GetFileSoapOut">
    <wsdl:part name="parameters" element="tns:GetFileResponse" />
  </wsdl:message>
  <wsdl:portType name="WebServiceUppgift2__1Soap">
    <wsdl:operation name="GetFile">
      <wsdl:input message="tns:GetFileSoapIn" />
      <wsdl:output message="tns:GetFileSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServiceUppgift2__1Soap" type="tns:WebServiceUppgift2__1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetFile">
      <soap:operation soapAction="http://tempuri.org/GetFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceUppgift2__1Soap12" type="tns:WebServiceUppgift2__1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetFile">
      <soap12:operation soapAction="http://tempuri.org/GetFile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebServiceUppgift2__1">
    <wsdl:port name="WebServiceUppgift2__1Soap" binding="tns:WebServiceUppgift2__1Soap">
      <soap:address location="http://localhost:52383/WebServiceUppgift2.1.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceUppgift2__1Soap12" binding="tns:WebServiceUppgift2__1Soap12">
      <soap12:address location="http://localhost:52383/WebServiceUppgift2.1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>