BookARoom/BookARooom/Connected Services/ServiceReferenceCronus2/CronusWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetAllEmployees">
        <s:complexType />
      </s:element>
      <s:element name="GetAllEmployeesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllEmployeesResult" type="tns:ArrayOfCRONUS_Sverige_AB_Employee" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfCRONUS_Sverige_AB_Employee">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="CRONUS_Sverige_AB_Employee" nillable="true" type="tns:CRONUS_Sverige_AB_Employee" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CRONUS_Sverige_AB_Employee">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="No_" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="First_Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Middle_Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Last_Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Initials" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Job_Title" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Search_Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Address" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Address_2" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="City" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Post_Code" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="County" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Phone_No_" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Mobile_Phone_No_" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="E_Mail" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Alt__Address_Code" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Alt__Address_Start_Date" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="Alt__Address_End_Date" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="Birth_Date" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="Social_Security_No_" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Union_Code" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Union_Membership_No_" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Sex" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Country_Region_Code" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Manager_No_" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Emplymt__Contract_Code" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Statistics_Group_Code" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Employment_Date" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="Status" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Inactive_Date" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="Cause_of_Inactivity_Code" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Termination_Date" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="Grounds_for_Term__Code" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Global_Dimension_1_Code" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Global_Dimension_2_Code" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Resource_No_" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Last_Date_Modified" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="Extension" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Pager" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Fax_No_" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Company_E_Mail" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Title" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Salespers__Purch__Code" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="No__Series" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetAllKeys">
        <s:complexType />
      </s:element>
      <s:element name="GetAllKeysResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllKeysResult" type="tns:ArrayOfCRONUSMetadata_Key" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfCRONUSMetadata_Key">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="CRONUSMetadata_Key" nillable="true" type="tns:CRONUSMetadata_Key" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CRONUSMetadata_Key">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Constraint_Name" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetAllIndexes">
        <s:complexType />
      </s:element>
      <s:element name="GetAllIndexesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllIndexesResult" type="tns:ArrayOfCRONUSMetadata_Index" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfCRONUSMetadata_Index">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="CRONUSMetadata_Index" nillable="true" type="tns:CRONUSMetadata_Index" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CRONUSMetadata_Index">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetAllConstraints">
        <s:complexType />
      </s:element>
      <s:element name="GetAllConstraintsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllConstraintsResult" type="tns:ArrayOfCRONUSMetadata_Constraint" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfCRONUSMetadata_Constraint">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="CRONUSMetadata_Constraint" nillable="true" type="tns:CRONUSMetadata_Constraint" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CRONUSMetadata_Constraint">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Constraint_Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Table_Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Constraint_Type" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetAllTablesInDB">
        <s:complexType />
      </s:element>
      <s:element name="GetAllTablesInDBResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllTablesInDBResult" type="tns:ArrayOfCRONUSMetadata_Table" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfCRONUSMetadata_Table">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="CRONUSMetadata_Table" nillable="true" type="tns:CRONUSMetadata_Table" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CRONUSMetadata_Table">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetAllColumnsInEmployees">
        <s:complexType />
      </s:element>
      <s:element name="GetAllColumnsInEmployeesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllColumnsInEmployeesResult" type="tns:ArrayOfCRONUSMetadata_Column" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfCRONUSMetadata_Column">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="CRONUSMetadata_Column" nillable="true" type="tns:CRONUSMetadata_Column" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CRONUSMetadata_Column">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Table_Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Column_Name" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetEmployeeMetaDataAndRelated">
        <s:complexType />
      </s:element>
      <s:element name="GetEmployeeMetaDataAndRelatedResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetEmployeeMetaDataAndRelatedResult" type="tns:ArrayOfCRONUSMetadata_EmployeeRelated" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfCRONUSMetadata_EmployeeRelated">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="CRONUSMetadata_EmployeeRelated" nillable="true" type="tns:CRONUSMetadata_EmployeeRelated" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CRONUSMetadata_EmployeeRelated">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Tabellnamn" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="First_Name" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Status" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Job_Title" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Address" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetTop5EmployeesAbsent">
        <s:complexType />
      </s:element>
      <s:element name="GetTop5EmployeesAbsentResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetTop5EmployeesAbsentResult" type="tns:ArrayOfCRONUS_Employee_Top5_Absence" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfCRONUS_Employee_Top5_Absence">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="CRONUS_Employee_Top5_Absence" nillable="true" type="tns:CRONUS_Employee_Top5_Absence" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CRONUS_Employee_Top5_Absence">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="First_Name" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetEmployeesAndRelatives">
        <s:complexType />
      </s:element>
      <s:element name="GetEmployeesAndRelativesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetEmployeesAndRelativesResult" type="tns:ArrayOfCRONUS_Employees_And_Relatives" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfCRONUS_Employees_And_Relatives">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="CRONUS_Employees_And_Relatives" nillable="true" type="tns:CRONUS_Employees_And_Relatives" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CRONUS_Employees_And_Relatives">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="First_Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Last_Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Job_Title" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Relative" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetEmployeesSick2004">
        <s:complexType />
      </s:element>
      <s:element name="GetEmployeesSick2004Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetEmployeesSick2004Result" type="tns:ArrayOfCRONUS_Employees_Sick_2004" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfCRONUS_Employees_Sick_2004">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="CRONUS_Employees_Sick_2004" nillable="true" type="tns:CRONUS_Employees_Sick_2004" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CRONUS_Employees_Sick_2004">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="First_Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Job_Title" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="From_Date" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="From_DateString" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="To_Date" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="To_DateString" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Cause_of_Absence_Code" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetAllEmployeesSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllEmployees" />
  </wsdl:message>
  <wsdl:message name="GetAllEmployeesSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllEmployeesResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllKeysSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllKeys" />
  </wsdl:message>
  <wsdl:message name="GetAllKeysSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllKeysResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllIndexesSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllIndexes" />
  </wsdl:message>
  <wsdl:message name="GetAllIndexesSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllIndexesResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllConstraintsSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllConstraints" />
  </wsdl:message>
  <wsdl:message name="GetAllConstraintsSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllConstraintsResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllTablesInDBSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllTablesInDB" />
  </wsdl:message>
  <wsdl:message name="GetAllTablesInDBSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllTablesInDBResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllColumnsInEmployeesSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllColumnsInEmployees" />
  </wsdl:message>
  <wsdl:message name="GetAllColumnsInEmployeesSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllColumnsInEmployeesResponse" />
  </wsdl:message>
  <wsdl:message name="GetEmployeeMetaDataAndRelatedSoapIn">
    <wsdl:part name="parameters" element="tns:GetEmployeeMetaDataAndRelated" />
  </wsdl:message>
  <wsdl:message name="GetEmployeeMetaDataAndRelatedSoapOut">
    <wsdl:part name="parameters" element="tns:GetEmployeeMetaDataAndRelatedResponse" />
  </wsdl:message>
  <wsdl:message name="GetTop5EmployeesAbsentSoapIn">
    <wsdl:part name="parameters" element="tns:GetTop5EmployeesAbsent" />
  </wsdl:message>
  <wsdl:message name="GetTop5EmployeesAbsentSoapOut">
    <wsdl:part name="parameters" element="tns:GetTop5EmployeesAbsentResponse" />
  </wsdl:message>
  <wsdl:message name="GetEmployeesAndRelativesSoapIn">
    <wsdl:part name="parameters" element="tns:GetEmployeesAndRelatives" />
  </wsdl:message>
  <wsdl:message name="GetEmployeesAndRelativesSoapOut">
    <wsdl:part name="parameters" element="tns:GetEmployeesAndRelativesResponse" />
  </wsdl:message>
  <wsdl:message name="GetEmployeesSick2004SoapIn">
    <wsdl:part name="parameters" element="tns:GetEmployeesSick2004" />
  </wsdl:message>
  <wsdl:message name="GetEmployeesSick2004SoapOut">
    <wsdl:part name="parameters" element="tns:GetEmployeesSick2004Response" />
  </wsdl:message>
  <wsdl:portType name="CronusWebServiceSoap">
    <wsdl:operation name="GetAllEmployees">
      <wsdl:input message="tns:GetAllEmployeesSoapIn" />
      <wsdl:output message="tns:GetAllEmployeesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllKeys">
      <wsdl:input message="tns:GetAllKeysSoapIn" />
      <wsdl:output message="tns:GetAllKeysSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllIndexes">
      <wsdl:input message="tns:GetAllIndexesSoapIn" />
      <wsdl:output message="tns:GetAllIndexesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllConstraints">
      <wsdl:input message="tns:GetAllConstraintsSoapIn" />
      <wsdl:output message="tns:GetAllConstraintsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllTablesInDB">
      <wsdl:input message="tns:GetAllTablesInDBSoapIn" />
      <wsdl:output message="tns:GetAllTablesInDBSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllColumnsInEmployees">
      <wsdl:input message="tns:GetAllColumnsInEmployeesSoapIn" />
      <wsdl:output message="tns:GetAllColumnsInEmployeesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetEmployeeMetaDataAndRelated">
      <wsdl:input message="tns:GetEmployeeMetaDataAndRelatedSoapIn" />
      <wsdl:output message="tns:GetEmployeeMetaDataAndRelatedSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTop5EmployeesAbsent">
      <wsdl:input message="tns:GetTop5EmployeesAbsentSoapIn" />
      <wsdl:output message="tns:GetTop5EmployeesAbsentSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetEmployeesAndRelatives">
      <wsdl:input message="tns:GetEmployeesAndRelativesSoapIn" />
      <wsdl:output message="tns:GetEmployeesAndRelativesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetEmployeesSick2004">
      <wsdl:input message="tns:GetEmployeesSick2004SoapIn" />
      <wsdl:output message="tns:GetEmployeesSick2004SoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CronusWebServiceSoap" type="tns:CronusWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllEmployees">
      <soap:operation soapAction="http://tempuri.org/GetAllEmployees" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllKeys">
      <soap:operation soapAction="http://tempuri.org/GetAllKeys" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllIndexes">
      <soap:operation soapAction="http://tempuri.org/GetAllIndexes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllConstraints">
      <soap:operation soapAction="http://tempuri.org/GetAllConstraints" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllTablesInDB">
      <soap:operation soapAction="http://tempuri.org/GetAllTablesInDB" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllColumnsInEmployees">
      <soap:operation soapAction="http://tempuri.org/GetAllColumnsInEmployees" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmployeeMetaDataAndRelated">
      <soap:operation soapAction="http://tempuri.org/GetEmployeeMetaDataAndRelated" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTop5EmployeesAbsent">
      <soap:operation soapAction="http://tempuri.org/GetTop5EmployeesAbsent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmployeesAndRelatives">
      <soap:operation soapAction="http://tempuri.org/GetEmployeesAndRelatives" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmployeesSick2004">
      <soap:operation soapAction="http://tempuri.org/GetEmployeesSick2004" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CronusWebServiceSoap12" type="tns:CronusWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllEmployees">
      <soap12:operation soapAction="http://tempuri.org/GetAllEmployees" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllKeys">
      <soap12:operation soapAction="http://tempuri.org/GetAllKeys" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllIndexes">
      <soap12:operation soapAction="http://tempuri.org/GetAllIndexes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllConstraints">
      <soap12:operation soapAction="http://tempuri.org/GetAllConstraints" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllTablesInDB">
      <soap12:operation soapAction="http://tempuri.org/GetAllTablesInDB" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllColumnsInEmployees">
      <soap12:operation soapAction="http://tempuri.org/GetAllColumnsInEmployees" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmployeeMetaDataAndRelated">
      <soap12:operation soapAction="http://tempuri.org/GetEmployeeMetaDataAndRelated" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTop5EmployeesAbsent">
      <soap12:operation soapAction="http://tempuri.org/GetTop5EmployeesAbsent" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmployeesAndRelatives">
      <soap12:operation soapAction="http://tempuri.org/GetEmployeesAndRelatives" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmployeesSick2004">
      <soap12:operation soapAction="http://tempuri.org/GetEmployeesSick2004" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CronusWebService">
    <wsdl:port name="CronusWebServiceSoap" binding="tns:CronusWebServiceSoap">
      <soap:address location="http://localhost:58882/CronusWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="CronusWebServiceSoap12" binding="tns:CronusWebServiceSoap12">
      <soap12:address location="http://localhost:58882/CronusWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>